<h1>Cart</h1>
<div class="content">
  <div class="container-empty-cart" *ngIf="cartIsEmpty">
    <div class="empty-cart">
      <span>Seu carrinho está vazio</span>
    </div>
    <button
    routerLink=""
    class="button-back-store">
      RETORNAR PARA LOJA
    </button>
  </div>
  <div class="cart-list-items" *ngIf="!cartIsEmpty">
    <app-table-cart></app-table-cart>
  </div>
  <div class="buttons-footer-header">
    <div class="cupom-input-div" *ngIf="!cartIsEmpty">
      <input type="text" placeholder="Código do cumpom" class="cupom-input">
      <button>APLICAR CUPOM</button>
    </div>
    <!-- <button routerLink="/">VOLTAR PARA LOJA</button> -->
  </div>
</div>

